footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
    background: rgb(224,0,0);
    background: linear-gradient(90deg, rgba(224,0,0,1) 0%, rgba(128,0,0,1) 50%, rgba(0,0,0,1) 100%);
    & div{
        color: white;
        & a{
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}